.footer {
    background: rgba(255, 110, 0, 0.85);
    text-align: left;
    color: #FFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 100px;
}

.footer ul li:last-child {
    margin-right: 0;
}
